<%= render './dashboards/navbar' %>
<p id="notice"><%= notice %></p>

<div class='container'>

    <%= form_with(url: dashboard_nines_path, method: :get, remote: true) do |form| %>

        <%= form.text_field :q %>
        <%= form.submit 'Buscar por nombre o apellido' %>

    <% end %>

    <%= link_to 'New Child', new_child_path, remote: true  %>

    <div id='card_childs'>

        <% @childs.each do |child|%>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <%= image_tag(child.avatar.variant(resize: '190x200').processed, alt: 'imagen con problemas') if child.avatar.attached? %>
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nombre: <%= child.names %> <%= child.last_names %></h5><hr>
                            <p class="card-text">RUT: <%= child.rut %></p><hr>
                            <p class="card-text">Fecha de nacimiento: <%= child.date_of_birth %></p><hr>
                            <button type="button" class="btn btn-primary"><%= link_to 'Ver mas', child %></button>
                        </div>
                        </div>
                    </div>
                </div>
        <% end%>

    </div>

</div>

<div id="modal_new">
</div>

<%= render './dashboards/footer' %>