$('#card_educators').empty()

<% @educators.each do |educator|%>
    $('#card_educators').append(`
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <%= image_tag(educator.avatar.variant(resize: '190x200').processed, alt: 'imagen con problemas') if educator.avatar.attached? %>
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nombre: <%= educator.names %> <%= educator.last_names %></h5><hr>
                            <p class="card-text">RUT: <%= educator.rut %></p><hr>
                            <p class="card-text">Fecha de nacimiento: <%= educator.date_of_birth %></p><hr>
                            <%= link_to "<button>Mas información</button>".html_safe, educator, remote: true %>
                        </div>
                        </div>
                    </div>
                </div>   
                `)
<% end%>