<%= render './dashboards/navbar' %>
<p id="notice"><%= notice %></p>

<div class='container'>

    <%= form_with(url: dashboard_educadoras_path, method: :get, remote: true) do |form| %>

        <%= form.text_field :q %>
        <%= form.submit 'Buscar por nombre o apellido' %>

    <% end %>

    <%= link_to 'New Educator', new_educator_path %>

    <div id='card_educators'>

      <% @educators.each do |educator|%>
              <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                      <div class="col-md-4">
                      <img src="" alt="educadora">
                      </div>
                      <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title">Nombre: <%= educator.names %> <%= educator.last_names %></h5><hr>
                          <p class="card-text">RUT: <%= educator.rut %></p><hr>
                          <p class="card-text">Fecha de nacimiento: <%= educator.date_of_birth %></p><hr>
                          <button type="button" class="btn btn-primary"><%= link_to 'Ver mas', educator %></button>
                      </div>
                      </div>
                  </div>
              </div>
      <% end%>

    </div>

</div>
<%= render './dashboards/footer' %>


