<main class="form-signin text-center">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form>
    <%= image_tag('LOGO_NSDLV.png', size: '70x70') %>
    <h1 class="h3 mb-3 fw-normal">Iniciar Sesion</h1>

    <div class="form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <br>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "current-password" %>
      <br>
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <%= f.check_box :remember_me %>
        <label for="floatingPassword">Mantener conectado</label>
      </label>
    </div>
     <%= f.submit "Iniciar Sesion" %>
    <p class="mt-5 mb-3 text-muted">&copy; 2021–2021</p>
  </form>
  <% end %>
</main>
